.container-about {
  height: 100%;
  background-image: url("../../assets/aboutback.png");
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about .title-about {
  margin: 2rem;
}

.about .description {
  color: #fff;
  width: 50%;
  text-align: center;
  line-height: 1.5rem;
  margin-bottom: 6rem;
  width: 90%;
}

@media (max-width: 1400px) {
  .about .description {
    font-size: 14px;
  }
}

@media (max-width: 850px) {
  .about {
    background: none;
    height: 100%;
  }
}
@media (max-width: 600px) {
  .about {
    font-size: 0.7rem;
    text-align: center;
  }
  .about .description {
    text-align: center;
    font-size: 0.6rem;
    margin: 2rem auto;
  }
}
@media (max-width: 375px) {
  .about {
    font-size: 0.6rem;
  }
}
