.container-card {
  width: 300px;
  height: 350px;
  background-color: #28282a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.container-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.card {
  background-color: #191919;
  width: 280px;
  height: 185px;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 180px;
  height: 170px;
  margin-top: -4rem;
  filter: drop-shadow(0 2px 4px rgba(255, 255, 255, 0.2));
  animation: shadow 2s linear infinite;
  transition: ease-in-out 1s;
}

@keyframes shadow {
  0%{
    filter: drop-shadow(0px 4px 8px rgba(255, 255, 255, 0.2));
  }
  50%{
    filter: drop-shadow(0px 8px 16px rgba(255, 255, 255, 0.3));
  }
  100%{
    filter: drop-shadow(0px 4px 8px rgba(255, 255, 255, 0.2));
  }
  
}

.name-game {
  text-align: center;
  margin: 1rem;
  height: 30px;
}

.center {
  display: flex;
  justify-content: center;
}

/* Css Modal */
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;

  z-index: 999;
  pointer-events: auto;
}

.modal {
  width: 950px;
  height: 550px;
  background-color: #28282a;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1000;
}

.modal-header {
  position: absolute;
  top: 30px;
  background-color: #1d1d1d;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  pointer-events: none;
}

.game-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 260px;
  height: 400px;
  border-radius:20px;
  transition: ease 0.3s;
}

.game-image:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.game-image img {
  margin: 2rem;
  width: 180px;
  height: 180px;
  border-radius: 20px;
  filter: drop-shadow(0 4px 8px rgba(255, 255, 255, 0.2));
  animation: shadow 2s linear infinite;
  transition: ease-in-out 1s;
}

.game-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 100px;
  margin-top: 1rem;
  text-align: center;
  color: #fff;
  padding: 0.5rem;
  width: 600px;
  text-align: left;
  pointer-events: none;
  background-color: #ffffff04;
  border-radius: 20px;
}

.game-desc h2 {
  margin: 1rem;
  text-align: center;
}
.game-desc p {
  font-size: 1.3rem;
  text-align: center;
  font-family: "Poppins";
  margin-bottom: 3rem;
}

.modal .btn-secondary {
  position: absolute;
  right: 180px;
  top: 400px;
}

.disable-hover:not(.modal) {
  pointer-events: none;
}

.disable-hover *:not(.modal):hover {
  color: inherit !important;
  transform: none !important;
}

.close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  background-color: #8a56c6;
  color: #f5f5f5;
  z-index: 1001;
  font-family: Arial;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close:hover {
  background-color: #7700ff;
}

.modal-window.open {
  display: flex;
  animation: show 1s ease-in-out;
}

@keyframes show {
  0% {
    transform: translateY(100vw);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1250px) {
  .container-card {
    width: 250px;
    height: 300px;
  }
  .card {
    width: 200px;
    height: 150px;
  }

  .card img {
    width: 120px;
    height: 120px;
  }

  .container-card h3 {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .container-card {
    width: 200px;
    height: 300px;
  }
  .card {
    width: 180px;
    height: 120px;
  }
  .card img {
    width: 100px;
    height: 100px;
  }

  .modal {
    width: 500px;
    height: 700px;
  }
  .game-image {
    flex-direction: row;
    width: 90%;
    height: 200px;
    left: 25px;
  }
  .game-desc {
    width: 90%;
    left: 25px;
    top: 300px;
  }
  .modal .btn-secondary {
    top: 600px;
    left: 20%;
  }
  .close {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }
}

@media (max-width: 850px) {
  .container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
  }
  .card {
    width: 150px;
    height: 150px;
    margin: 0;
  }
  .card img {
    margin: 0;
  }
  .name-game {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .container-card {
    width: 250px;
    height: 300px;
    gap: 1rem;
    flex-direction: column;
  }
  .card {
    width: 230px;
  }
  .card img {
    width: 130px;
    height: 130px;
    margin-top: -30px;
  }

  .modal {
    width: 300px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-header h1 {
    font-size: 1rem;
  }
  .game-image {
    height: 150px;
    flex-direction: row;
    width: 90%;
    left: 15px;
  }
  .game-image img {
    width: 100px;
    height: 100px;
  }
  .game-desc {
    width: 90%;
    left: 15px;
    top: 250px;
  }
  .game-desc h2 {
    font-size: 1rem;
  }
  .game-desc p {
    font-size: 0.8rem;
  }
  .modal .btn-secondary {
    top: 500px;
    left: 25%;
  }
  .modal .btn-secondary button {
    width: 150px;
    font-size: 0.7rem;
  }
 
  .close {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }
}

@media (max-width: 440px) {
  .container-card {
    width: 180px;
    height: 220px;
  }
  .card {
    width: 160px;
    height: 100px;
  }
  .card img {
    width: 80px;
    height: 80px;
  }

  .name-game h3 {
    font-size: 0.8rem;
  }
}
