.container-challenges {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.title-challenges {
  text-align: center;
  margin: 2rem;
}

.frames {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:10px;
}
.frame {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  transition: ease 0.3s;
}

.frame img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.frame-larger {
  max-width: 1000px;
  width: 90%;
  height: 100%;
  border-radius: 20px;
  background: #00000028;
  margin: 20px auto;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
  border: 1px solid #000;
  border-radius: 20px;
  transition: ease 0.3s;
}


.frame-larger h2 {
  text-align: center;
  padding: 2rem;
  color: #8a56c6;
}

.chalenge {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid #000;
  border-radius: 20px;
}

.frame:hover,
.frame-larger:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

@media (max-width: 700px) {
  .frame{
    width: 90%;
  }
  .frame-larger p {
    font-size: 0.8rem;
  }
}
