.container-games {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.title-games {
  text-align: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
