* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(90deg, #8a56c6 0%, #5645cc 100%);
  color: #4b0082;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 4rem auto;
  padding: 20px;
  background-color: #e0ccff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  color: #6a0dad;
}

p, ul {
  margin-bottom: 20px;
}

.code-block {
  background-color: #f5eaff;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  color: #6a0dad;
  font-family: 'Courier New', Courier, monospace;
}

section {
  margin-bottom: 30px;
}

.home-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6a0dad;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
}

.home-button:hover,.play-button:hover {
  background-color: #5a009b;
}


.play-button{
  display: inline-block;
  padding: 10px 20px;
  background-color: #6a0dad;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 20px;
}