
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(29, 22, 45);;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
    padding-top: 80px; 
}





header h1 {
    font-size: 32px;
    margin: 0;
    
}


.container {
    max-width: 1000px;
    padding: 20px;
    background-color: #0794c7b9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}


section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 35px;
    
    
}


.section-image {
    width: 50%; 
    height: auto; 
    border-radius: 8px; 
    margin-bottom: 10px; 
    margin-top: 20px;
    
}


code {
    background-color: #eef;
    color: #333;
    padding: 2px 4px;
    border-radius: 4px;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: background-color 0.5s ease;
}

.home-button:hover {
    background-color: #0794c7b9;;
    
}

.play-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: background-color 0.5s ease;
}

.play-button:hover {
    background-color: #0794c7b9;;
    
}
